.heading {
 font-size: 23px;
 width: 120%;
 margin: 0px; 
 box-shadow: 5px 5px 5px aquamarine;   
}

.note {
   font-size: 15px;
   color: rgb(255, 174, 0); 
}

.copy_right_footer {
    position: fixed;
    color: rgb(98, 203, 229);
    bottom:0 ;
    width: 100%;
    background-color: cyan;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid maroon;
    border-radius:20px ;
}
